<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCTOGLOB</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <div class="container">
        <div class="App app-serveo">
            <header class="App-header">
                <h1>Download SERVEO Executable</h1>
                <div class="loading-spinner" style="display: none;"></div> <!-- Hide spinner initially -->
                <button class="App-link download-button">
                   <a href="https://mega.nz/file/PV10gSLQ#VPLAIYGFevhS8wSCvebL7hlboJgyHzIiPmabpD1gTuE" style="text-decoration: none; color: white;" target="_blank"> Download LOCTOGLOB.exe </a>
                </button>
                <p style="font-size: medium;">Need Help? <a href="/serveo">Help Centre</a></p>
            </header>
        </div>
        <div class="App app-ngrok">
            <header class="App-header">
                <h1>Download NGROK<br>Executable</h1>
                <div class="ls" style="display: none;"></div> <!-- Hide spinner initially -->
                <button class="App-link db">
                    <a href="https://mega.nz/file/iUVmhSyb#o_zZNM6KnMjFwLbe5ja3SyyPyu40Xu7nqWwpO_HOIEo" style="text-decoration: none; color: white;" target="_blank">
                    Download LOCTOGLOB-ng.exe
                </a>
                </button>
                <p style="font-size: medium;">Need Help? <a href="/ngrok">Help Centre</a></p>
            </header>
        </div>
    </div>

</body>
</html>
