<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Ngrok</title>
</head>
<body>
    <section class="container">
        <h1 class="title">Steps to Install:</h1>
        <ol>
            <li>Download LOCTOGLOB-ng.exe from LOCTOGLOB webpage.</li>
            <li>Download <a href="https://ngrok.com/download/" target="_blank">Ngrok.zip</a> file for the required OS and extract ngrok.exe to the same folder where your LOCTOGLOB-ng.exe exists.</li>
            <li>Goto <a href="https://ngrok.com/dashboard/" target="_blank">Ngrok</a> website Signup and Login.</li>
            <li>After Login goto <a href="https://dashboard.ngrok.com/get-started/your-authtoken/" target="_blank">Your Authtoken</a> in Ngrok.</li>
            <li>There you can find your Authtoken copy it.</li>
            <li>Run the LOCTOGLOB-ng.exe and paste the localhost url then press enter and after that paste your authtoken then press enter.</li>
            <li>Then You will get your public link.</li>
            <li>If you want to close the connection then just close the  terminal or command prompt where you provided the link and authtoken.</li>
        </ol>
        <button><a href="/dashboard" style="text-decoration: none;">Back</a></button>
    </section>
</body>
</html>