<!DOCTYPE html>
<html>
<head>
    <title>LOCTOGLOB</title>
    <link rel="stylesheet" href="/static/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="lgtitle"></div>
    <div class="sjw">
        <section class="container">
            <br>
            <h1 style="color: rgba(75, 169, 255, 0.9); margin-left: 9%;">RESET YOUR PASSWORD</h1><br>
            {% if message %}
            <div style="color: red; text-align: center;">{{ message }}</div>
            {% endif %}
            <form action="/reset" method="POST">
                <div class="form-content">
                    <label for="reset-email" style="color: white;">Email:</label>
                    <input type="email" id="reset-email" name="reset-email" required>
                    <br><br>
                    <label for="reset-password" style="color: white;">New Password:</label>
                    <input type="password" id="reset-password" name="reset-password" required>
                    <br><br>
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        </section>
    </div>
    <script src="/static/login.js"></script>
</body>
</html>
