<!DOCTYPE html>
<html>
  <head>
    <title>Serveo</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
      <section class="container">
      <h1 class="title">Steps to Install:</h1>
      <ol>
        <li>Make sure to install <a href="https://www.python.org/downloads/" target="_blank">Python</a> in your system.</li>
        <li>Download LOCTOGLOB.exe from the Serveo section.</li>
        <li>Run the LOCTOGLOB.exe file.</li>
        <li>Paste the Localhost url(127.0.0.1 or localhost) with Port number(eg.5000) (eg. 127.0.0.1:5000 or localhost:5000).</li>
        <li>Then your port is forwarded globally and the global link will be automatically opened in your browser.</li>
        <li>If you want to close the connection then just close the  terminal or command prompt where you provided the link.</li>      
      </ol>
        <button><a href="/dashboard" style="text-decoration: none;">Back</a></button>
    </section>
  </body>